.resturant-image{
    height:250px;
    
}
#header{
   border:1px solid black;
   display :flex;
   justify-content: space-between;
   padding :30px;
   font-size: 25px;
   background-color: white;
   position: fixed;
   width: 100%;
   z-index: 1;
   background-color: white;
   top : 0px;

}
